$color-highlight: #fbb03b;

$color-background-light: #eae9e5;
$color-background-dark: #282833;

$color-text-light: #eae9e5;
$color-text-dark: #666;

$color-links: #7c7caa;

$color-nav-background: $color-background-dark;

$color-slideshow-background: #1c1c23;

$color-controls-background: rgba(0,0,0, 0.6);

$color-status-neutral: $color-background-dark;
$color-status-success: #0ca449;
$color-status-warning: #f7d114;
$color-status-danger: rgb(219, 54, 54);

$color-button-background: $color-status-neutral;
$color-button-text: $color-text-light;
$color-button-primary-background: $color-status-neutral;
$color-button-secondary-background: $color-links;

$color-divider: #ccc;