$color-hightlight: #fbb03b;
$color-background-light: #eae9e5;
$color-background-dark: #282833;
$color-text-light: #eae9e5;
$color-text-dark: #666;
$color-nav-background: $color-background-dark;

$color-links: #7c7caa;