@import '~%/colors';

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin-right: 16px;
/*   margin-top: 30px; */
  margin-bottom: 10px;
}

.alignright {
  float: right;
  margin-left: 16px;
/*   margin-top: 30px; */
  margin-bottom: 10px;
}

.divider {
  height: 1px;
  // background: $color-text-dark;
  background: $color-divider;
  margin: 20px 0;
}
