@import '~%/colors';
@import '~%/variables';

body {
  color: $color-text-dark;
  background-color: $color-background-light;
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  height: 100px;
  background-image: url('/static/banjo-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-text-light;
  font-weight: 600;
  text-transform: uppercase;

  h1 {
    margin-top: auto;
    margin-left: 20px;
  }
}

.subheader {
  padding: 20px;
  background: $color-background-dark;
  color: $color-highlight;
  font-size: 1.4em;
}

.content {
  max-width: 1068px;
  margin: 20px;

  img {
    max-width: 100%;
  }
}

.layout-left {
  display: inline-block;
  width: 1068px;
  max-width: calc(100% - #{$sidebar-width + ($gutter-width * 2)});
  vertical-align: top;
  padding-right: $gutter-width;
  margin-right: $gutter-width;
  border-right: 1px solid $color-divider;
}

::selection {
  background: $color-highlight;
}
::-moz-selection {
  background: $color-highlight;
}

$input-focus-box-shadow: 0 0 3px 2px #7584b9;

button:focus {
  outline: 0;
}

.tabfocus {
  a:focus, button:focus {
    outline: 0;
    box-shadow: $input-focus-box-shadow;
  }
}
